/* Slide-specific vertical centering override */
.reveal .slides section.topalign{
  top: 0 !important;
}

.reveal .slide-number {
  font-size: 24pt;
}

figcaption {
  font-size: 50%;
}

.container {
  display: grid;
  grid-auto-flow: column;
}

.two_columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.r-stack > * {
    width: 100%;
}

.good {
  background-color: #abd9e9;
}

.fair {
    background-color: #ffffbf;
}

.poor {
  background-color: #fdae61;
}

div.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table.libraries-considered td {
  vertical-align: middle;
  padding-left: 0.5em;
}

table.libraries-considered tr, table.libraries-considered td {
  font-size: 80%;
}

table td {
  vertical-align: middle;
}

table td img {
  height: 90px;
}

.repo {
  font-family: monospace;
}

.repo::before {
  content:url("./figures/github-mark.svg");
  margin-right: 1em;
}

.squish {
  font-size: 60%;
}

.cpp-compat td {
  height: 90px;
}

.cpp-compat img {
  height: 90px;
  margin-top: 0;
}

.cpp-compat tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cpp-version {
  background-size: 100% auto;
  display: inline-block;
  min-width: 400px;
}

.same-program-only-safer {
  height: 100%;
  width: 100%;
  position: relative;
}
.same-program-only-safer img {
  width: 30%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.nolinenum .hljs-ln-numbers {
  display: none;
}

.real-world td, .real-world th {
  vertical-align: top;
}

.real-world td {
  width: 30%;
}

.real-world-error {
  padding: 0 1em 0 1em;
  white-space: nowrap;
  background-color: #cccccc;
  border-radius: 0.5em;
  margin: 0.1em;
}
.rwe-contain {
  font-size: 70%;
}

.udl-table {
  width: 100%;
}
.udl-table td {
  font-size: 93%;
}

.safety-surface {
  display: flex;
  justify-content: center;
}

.safety-surface img {
  width: 80%;
}

.learning-more img {
  width: 70%;
}

.over-time {
  display: flex;
  justify-content: center;
}

.compile-times img {
  width: 80%;
}

.inspirations img {
  width: 80%;
}

.vsm {
  font-size: 90%;
}
