figcaption {
  font-size: 50%;
}

.container {
  display: grid;
  grid-auto-flow: column;
}

.r-stack > * {
    width: 100%;
}

.good {
  background-color: #abd9e9;
}

.poor {
  background-color: #fdae61;
}

div.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reveal .slides {
    border: 5px solid black;
    min-height: 100%;
}

table.libraries-considered td {
  vertical-align: middle;
  padding-left: 0.5em;
}

table.libraries-considered td img {
  height: 90px;
}

table.libraries-considered td.repo {
  font-family: monospace;
}

table.libraries-considered td.repo::before {
  content:url("./figures/github-mark.svg");
  zoom: 0.5;
  margin-right: 1em;
}
